<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
  {{ partial "header.html" . }}

  <main>
    <section class="post">


      <ul class="post-list">
  {{ range .Data.Pages }}
    <li>
      <a href="{{.RelPermalink}}" class="post-link"> 
      <div class="post-link__heading">
        <h1 class="post-link__title">{{ .Title }}</h1>
      </div>
      <time class="post-date">{{ .Params.Date | time.Format "2006-01-02" }}</time>
    </a>
    </li>
  {{ end }}
</ul>



    </section>
    {{ partial "footer.html" . }}
  </main>
</body>
</html>